*{
    margin: 0; 
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 80px;
    align-items: left;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(249, 138, 197);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.textbox h1{
    font-size: 62px;   
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px; 
    color: #fff;
}
.h_btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(180, 191, 243);
    border:1px solid;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.8s;
}
.h_btn:hover{
    border: 2px red;
    background-color: floralwhite;
    color: rgb(0, 136, 255);
}

nav .fa-solid{
    display: none;
}

/*----------Course--------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
    color: #202020;
    font-size:14px ;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course_col{
    flex-basis: 31%;
    background: #ff74a042;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.4s ;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.course_col:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.231);
}


/*-------Campus---*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus_col{
    flex-basis: 32%;
}

@media (max-width: 700px){
    .textbox h1{
        font-size: 24px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links{
        padding: 30px;

    }
    /*course*/
    .row{
        flex-direction: column;
    }
}